{:kotoba.app/id "cloud.itonami.isic-6419", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidaufeziwo3j5q6mvj22v6iajvnifyigigr6pnkzwnsa7eyffa4vm", :kotoba.app/embed-url "ipfs://bafkreidaufeziwo3j5q6mvj22v6iajvnifyigigr6pnkzwnsa7eyffa4vm", :published {:archive "https://kotobase.net/ipfs/bafkreidaufeziwo3j5q6mvj22v6iajvnifyigigr6pnkzwnsa7eyffa4vm", :size 72177, :put-status 201, :get-status 200, :at "2026-08-15T13:56:27.305Z"}}
